<p id="notice"><%= notice %></p>
      <header class="intro-header" style="background-image: url(http://res.cloudinary.com/re-cycle-it/image/upload/b_rgb:242323,o_80/v1437963642/table_ksfxfu.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Make your house your home</h1>
                        <hr class="small">
                        <span class="subheading">Buy & sell furniture online in your city</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
<div class="center">
<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= number_to_currency(listing.price) %></p>
        <%= link_to 'Show', listing, class: "btn btn-link" %>
        <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
<br>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
